<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="service-name">CJ_APP</Property>
	    <Property name="log-pattern">[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</Property>  
	</Properties>
	<Appenders>
		<Console name="console-log" target="SYSTEM_OUT">
			<PatternLayout pattern="${log-pattern}" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="org.mybatis" level="DEBUG"></Logger>
		<Logger name="java.sql.Connection" level="DEBUG"></Logger>
		<Logger name="java.sql.Statement" level="DEBUG"></Logger>
		<Logger name="java.sql.PreparedStatement" level="DEBUG"></Logger>
		<Logger name="java.sql.ResultSet" level="DEBUG"></Logger>
		<Root level="DEBUG">
			<appender-ref ref="info-log" level="INFO" />
			<appender-ref ref="debug-log" level="DEBUG" />
			<appender-ref ref="error-log" level="ERROR" />
			<appender-ref ref="console-log" level="DEBUG" />
		</Root>
	</Loggers>
</Configuration>
